@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

$body-bg: rgb(254, 254, 242);

$primary: pink;
$secondary: rgb(207, 58, 103);
$dark: rgb(60, 11, 11);
$light: rgb(255, 255, 240);
$success: rgb(246, 210, 216);

$font-family-serif: "Bodoni Moda";
$headings-font-family:"Chocolate Classical Sans";

.navbar {
    font-family: "Chocolate Classical Sans", sans-serif;
    color: rgb(60, 11, 11);
  }
  
$h1-font-size: 1rem * 8;
$h2-font-size: 1rem * 2;
$h3-font-size: 1rem * 1.75;

$line-height-base: 1.6;


#cards{
  justify-content: space-evenly;
}


@import "../node_modules/bootstrap/scss/bootstrap";

#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/cupcake-4.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
  text-shadow: 2px 2px 5px rgb(118, 76, 22);
}

#hero .d-flex {
  height: 800px;
}

.accordion-button:not(.collapsed) {
  color: rgb(7, 7, 7); 
}

.card{
  box-shadow: 2px 2px 5px black;
}

#reviews{
  background-color: var(--bs-primary);
  color: var(--bs-light);

}

#faq{
  background-color: var(--bs-primary);
}

#search{
  background-image: url(/Images/cupcake-1.webp);
  
}

button:hover{
background-color: pink;
}

